.Content {
    width: 85%;
    margin: auto;
    min-height: 1000px;
    /* background-color: wheat; */
    background-color: var(--content-color);
    box-shadow: 0px 10px 15px 0px black;
    animation-name: sliding;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/* @keyframes sliding {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: -280px;
    }
} */