@import url('https://fonts.googleapis.com/css?family=Electrolize');
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans');

:root {
    --background-color: #465362;
    --jumbotron-main-color: blue;
    --navbar-color: #F9DC5C;
    --help-color: #ea0470;
    --main-text-color: #011936;
    --content-color: #FFFFFF;
    --navbar-height: 70px;
    
}
html {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-family: 'Electrolize', 'Arial';
}

body {
    margin: 0px;
    padding: 0px;
}

.Content {
    margin-top: -80px;
}

